@import "jetiny";

.demo-group {
	margin: 10px;
	border: 1px dashed #CCC;
	.info,
	.code,
	.view {
		margin: 10px;
		padding-bottom: 10px;
		border-bottom: 1px dashed #CCC;
	}
	.info {// 分组描述
	}
	.code {//代码
		font-size: 13px;
	}
	.view {// 行
		&:last-child {
			border-bottom: none;
		}
	}
}

.button {
	border: 1px solid transparent;              // 去除 Button的默认边框样式 + 去除 Border宽度
	@include make-form-element-disabled;
	@include make-size-default;
	@include make-button-flat-variant($button-default-text-color, $button-default-bg-color, $button-default-bg-color);
}

.button-s1 {
	@include make-button-flat-variant($button-primary-text-color, $button-primary-bg-color, $button-primary-bd-color);
}


.xinput {
	@include make-input-default;
	@include make-size-default;
	@if $input-border-width {
		border-width: $input-border-width;
	}
	@include make-input-flat-variant($input-default-text-color, $input-default-bg-color, $input-default-bd-color);
}