@import "jetiny";

.demo-group {
	margin: 10px;
	border: 1px dashed #CCC;
	.info,
	.code,
	.view {
		margin: 10px;
		padding-bottom: 10px;
		border-bottom: 1px dashed #CCC;
	}
	.info {// 分组描述
	}
	.code {//代码
		font-size: 13px;
	}
	.view {// 行
		&:last-child {
			border-bottom: none;
		}
	}
}

.arrow {
	position: relative;
	&:after {
		@include make-icon-arrow(12px, red);
	}
}

.tbtn-group {
	> .tbtn {
		float: left;
		border-right-width: 0;
	}
	> .tbtn:last-child {
		border-right-width: 1px;
	}
}

.panel {
	position: relative;
	border: 0;

	.pn-title,		//标题
	.pn-status,		//状态文字
	.pn-tools,		//工具按钮
	.pn-actions,	//操作按钮
	{
		display: inline-block;
	}

	.pn-title {
		font-weight: bold;
		vertical-align: middle;
		display: table-cell;
		@include make-size-default;
		>:first-child {
			margin-left: 0;
		}
		>.pn-status {
			vertical-align: baseline;
		}
	}

	.pn-tools {
		vertical-align: middle;
		display: table-cell;
		@include make-size-default;
	}

	.pn-status {
		font-weight: normal;
		vertical-align: middle;
		margin: auto 10px;
	}


	> header,
	> footer {
		box-sizing: border-box;
		display: table;
		width: 100%;
		position: relative;
		border: 1px solid #C2C2C2;
		@include clearfix;
		// @include make-size-default;
		> :first-child {
			margin-left: 10px;
		}
		
		>.pn-status {
			vertical-align: middle;
			display: table-cell;
		}
	}

	> header {
		box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
		+.pn-body {
			border-top: none;
		}
	}
	> .pn-body {
		border: 1px solid #C2C2C2;
		padding: .5em 1em;
		+ footer {
			border-top: none;
		}
	}
}

