$button-on: false !default;

$button-border-radius : 0 !default; // .2em !default;
$button-border-width  : .1em !default; // .1em !default;

$button-default-text-color 	:  #333 	!default;
$button-default-bg-color 	:  #E6E6E6 	!default;
$button-default-bd-color 	:  #BDBDBD 	!default;
