// Button Default
@mixin make-button() {
	display: inline-block;			// 块定义
	text-decoration: none;			// 去除A下划线
	// http://wf.uisdc.com/cn/input/touch-input/touchevents/
	touch-action: manipulation; 	// 允许浏览器双方向滚动，也允许双指缩放；但忽略其他手势。
	cursor: pointer;            	// 鼠标样式
	background-image: none; 		// Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	white-space: nowrap;			// 文本不进行换行
	border: 0px solid;              // 去除 Button的默认边框样式 + 去除 Border宽度
	@include user-select(none);

  &:active{
    background-image: none; // ? why
  }
  
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      cursor: default;
      box-shadow: none;
      opacity: .65;
      filter: alpha(opacity=65);
    }
  }
  @content;
}

// Button sizes
@mixin  make-button-size($padding-vertical, $padding-horizontal: false, $font-size : false, $border-radius : false) {
  @if $padding-horizontal {
    padding: $padding-vertical $padding-horizontal; //两端对齐
  } @else {
    padding: $padding-vertical;	//两端对齐
  }
  @if $font-size {
    font-size: $font-size;							//字体
  }
  @if $border-radius {
    border-radius: $border-radius;
  }
}

// Button variants
@mixin  make-button-variant($color, $background, $border: false) {
  color: $color;
  background-color: $background;
  @if ($border) {
    border-color: $border;
  }

  &:focus {
    color: $color;
    background-color: darken($background, 10%);
    @if ($border) {
        border-color: darken($border, 30%);
    }
  }
  &:hover,
  &:active,
  &.active {
    color: $color;
    background-color: darken($background, 10%);
    @if ($border) {
        border-color: darken($border, 10%);
    }
  }
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
      @if ($border) {
          border-color: $border;
      }
    }
  }
}