$button-on: false !default;

$button-padding-y : .5em !default;
$button-padding-x :  1em !default;
$button-font-size: 14px !default;
$button-border-radius : 0 !default; // .2em !default;
$button-border-width  : 0 !default; // .1em !default;

$button-default-text-color 	:  #333 	!default;
$button-default-bg-color 	:  #E6E6E6 	!default;
$button-default-bd-color 	:  #E6E6E6 	!default;

$button-primary-text-color 	:  #FFF 	!default;
$button-primary-bg-color 	:  #F43059 	!default;
$button-primary-bd-color 	:  #F43059 	!default;
