$check-on: false !default;

$check-disabled-text-color: rgba(0, 0, 0, 0.46) !default;
$check-disabled-bd-color: rgba(0, 0, 0, 0.26) !default;
$check-disabled-bg-color: rgba(0, 0, 0, 0.26) !default;
$check-fill-color: color("teal", "l1") !default;

$check-text-selector: span !default;