@import "input_vars";
@import "input_mix";

@if $input-on {
/*---@INPUT---*/
	.#{$jetiny-prefix}input {
		@include make-input();
		@if $input-border-width {
			border-width: $input-border-width;
		}
		// @include make-input-size($input-padding, false, $input-font-size, $input-line-height, $input-border-radius);
		@include make-font-size-default;
		@include make-pad-default;

		@include make-input-variant($input-default-text-color, $input-default-bg-color, $input-default-bd-color);

		&.error {
			&#{$input-access-able} {
				border-color: $input-error-bd-color;
				box-shadow: 0 0 0 1px $input-error-bd-color;
			}
		}
		&.success#{$input-access-able} {
				border-color: $input-success-bd-color;
				box-shadow: 0 0 0 1px $input-success-bd-color;
		}
	}

	// 只能近似相等
	// select.input { height: 2.29em; }

	//扩展边样式
	.#{$jetiny-prefix}input-hover:hover:not([disabled]){
    	border-color: $input-hover-bd-color;
		box-shadow: 0 0 0 1px $input-hover-bd-color;
	}
/*---!INPUT---*/
}