$list-on: false !default;

$list-bg-color: #fff !default;
$list-bd-color: rgba(0, 0, 0, 0.15) !default;

$list-divider-bg-color: #e5e5e5 !default;

$list-link-color: #373a3c !default;

$list-link-hover-bg-color: #f5f5f5 !default;
$list-link-active-bg-color: #EEEEEE !default;

$list-link-disabled-color: #818a91 !default;