$radio-on: false !default;

$radio-disabled-text-color: rgba(0, 0, 0, 0.46) !default;
$radio-disabled-bd-color: rgba(0, 0, 0, 0.26) !default;
$radio-disabled-bg-color: rgba(0, 0, 0, 0.26) !default;
$radio-fill-color: color("teal", "l1") !default;

$radio-text-selector: span !default;