$font-on: false !default;

// line-height(1.0~1.2)
$font-size-line-height: 1.2 !default;

$font-size-sm: 12px !default;
$font-size-line-height-sm: $font-size-line-height !default;

$font-size-default: 14px !default;
$font-size-line-height-default: $font-size-line-height !default;

$font-size-lg: 16px !default;
$font-size-line-height-lg: $font-size-line-height !default;