
$state-required-bd-color: color("amber") !default;
$state-access-bd-color: #26A69A !default;
$state-success-bd-color: #4CAE4C !default;
$state-error-bd-color: #FF0000 !default;

.state-required,
.state-access,
.state-success,
.state-error, {
	@include when-hover-active {
		box-shadow: none;
	}
}


.state-access { //可访问
	@include make-border-shadow($state-access-bd-color);
}

.state-required { //必须
	@include make-border-shadow($state-required-bd-color);
}

.state-success { //成功
	@include make-border-shadow($state-success-bd-color);
}

.state-error { //失败
	@include make-border-shadow($state-error-bd-color);
}
