// border-shadow
$st-required-bd-color: color("amber") !default;
$st-access-bd-color: #26A69A !default;
$st-success-bd-color: #4CAE4C !default;
$st-error-bd-color: #FF0000 !default;

$st-text-color-white : #FFF !default;
$st-text-color-black : #000 !default;

$st-default-text-color 		:  $st-text-color-black 	!default;
$st-default-bg-color 		:  lighten($st-text-color-black, 90) 	!default;
$st-default-bd-color 		:  lighten($st-text-color-black, 60)	!default;

$st-primary-text-color 		:  $st-text-color-white 	!default;
$st-primary-bg-color 		:  color('blue', 'd3') 	!default;
$st-primary-bd-color 		:  color('blue', 'd4')	!default;

$st-danger-text-color 		:  $st-text-color-white 	!default;
$st-danger-bg-color 			:  color('red', 'd1') 	!default;
$st-danger-bd-color 			:  color('red', 'd3') 	!default;

$st-warn-text-color 		:  $st-text-color-white 	!default;
$st-warn-bg-color 			:  color('amber', 'd3') 	!default;
$st-warn-bd-color 			:  color('amber', 'd4') 	!default;

$st-info-text-color 		:  $st-text-color-white 	!default;
$st-info-bg-color 			:  #4198D2 	!default;
$st-info-bd-color 			:  color('blue', 'd2') 	!default;

$st-done-text-color 		:  $st-text-color-white 	!default;
$st-done-bg-color 			:  color('green', 'd1') 	!default;
$st-done-bd-color 			:  color('green', 'd2') 	!default;

$state-on: false !default;

@if $state-on {
/*---@STATE---*/

	// BUTTON
// weight + lite 版本
	.st-default { // 一般
		@include make-button-variant($st-default-text-color, $st-default-bg-color, $st-default-bd-color);
	}
	.st-default-lite { // 一般
		@include make-button-variant($st-text-color-black, $st-text-color-white, $st-default-bd-color);
	}
	.st-primary { // 重要
		@include make-button-variant($st-primary-text-color, $st-primary-bg-color, $st-primary-bd-color);
	}
	.st-primary-lite { // 重要
		@include make-button-variant($st-primary-text-color, $st-primary-bg-color, $st-primary-bd-color, true);
	}
	.st-danger { // 危险 非常重要
		@include make-button-variant($st-danger-text-color, $st-danger-bg-color, $st-danger-bd-color);
	}
	.st-danger-lite { // 危险 非常重要
		@include make-button-variant($st-danger-text-color, $st-danger-bg-color, $st-danger-bd-color, true);
	}
	.st-warn { // 警告
		@include make-button-variant($st-warn-text-color, $st-warn-bg-color, $st-warn-bd-color);
	}
	.st-warn-lite { // 警告
		@include make-button-variant($st-warn-text-color, $st-warn-bg-color, $st-warn-bd-color, true);
	}
	.st-info { // 信息
		@include make-button-variant($st-info-text-color, $st-info-bg-color, $st-info-bd-color);
	}
	.st-info-lite { // 信息
		@include make-button-variant($st-info-text-color, $st-info-bg-color, $st-info-bd-color, true);
	}
	.st-done { // 完成
		@include make-button-variant($st-done-text-color, $st-done-bg-color, $st-done-bd-color);
	}
	.st-done-lite { // 完成
		@include make-button-variant($st-done-text-color, $st-done-bg-color, $st-done-bd-color, true);
	}
// invert 反转版 太大了,去掉
	// .st-white {

	// 	 .st-default,
	// 	&.st-default { // 重要
	// 		@at-root .st-default-white,
	// 		&, {
	// 			@include make-button-variant($st-text-color-black, $st-text-color-white, $st-default-bd-color);
	// 		}
	// 	}

	// 	 .st-primary,
	// 	&.st-primary { // 重要
	// 		@at-root .st-primary-white,
	// 		&, {
	// 			@include make-button-variant($st-primary-text-color, $st-primary-bg-color, $st-primary-bd-color, true);
	// 		}
	// 	}

	// 	.st-danger,
	// 	&.st-danger { // 危险 非常重要
	// 		@at-root .st-danger-white,
	// 		&, {
	// 			@include make-button-variant($st-danger-text-color, $st-danger-bg-color, $st-danger-bd-color, true);
	// 		}
	// 	}

	// 	.st-warn,
	// 	&.st-warn { // 警告
	// 		@at-root .st-warn-white,
	// 		&, {
	// 			@include make-button-variant($st-warn-text-color, $st-warn-bg-color, $st-warn-bd-color, true);
	// 		}
	// 	}

	// 	.st-info,
	// 	&.st-info { // 信息
	// 		@at-root .st-info-white,
	// 		&, {
	// 			@include make-button-variant($st-info-text-color, $st-info-bg-color, $st-info-bd-color, true);
	// 		}
	// 	}

	// 	.st-done,
	// 	&.st-done { // 完成
	// 		@at-root .st-done-white,
	// 		&, {
	// 			@include make-button-variant($st-done-text-color, $st-done-bg-color, $st-done-bd-color, true);
	// 		}
	// 	}
	// }

	// INPUT
	.st-required,
	.st-access,
	.st-success,
	.st-error, {
		@include when-hover-focus {
			box-shadow: none;
		}
	}

	.st-access { //可访问
		@include make-border-shadow($st-access-bd-color);
	}

	.st-required { //必须
		@include make-border-shadow($st-required-bd-color);
	}

	.st-success { //成功
		@include make-border-shadow($st-success-bd-color);
	}

	.st-error { //失败
		@include make-border-shadow($st-error-bd-color);
	}

/*---@STATE---*/
}

