
// 填充颜色
@mixin make-color-variant($color: false, $bg-color: false, $bd-color: false) {
	@if ($color) {
		color: $color;
	}
	@if ($bg-color) {
		background-color: $bg-color;
	}
	@if ($bd-color) {
		border-color: $bd-color;
	}
}

//加粗边框
@mixin make-border-shadow($bd-color) {
	border-color: $bd-color;
	box-shadow: 0 0 0 1px $bd-color;
}
